doctype html
html(lang='en')
  head    
    title Header Info API
    meta(name='description' content='A cool thing made with Glitch for FCC')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(id='favicon' rel='icon' href='https://glitch.com/edit/favicon-app.ico' type='image/x-icon')
    link(rel='stylesheet' href='/style.css')
  body
    header
      h1 API Project: Request Header Parser Microservice
    main
      table
        thead
          tr
            th(colspan='2') Header Info
        tbody
          tr
            th IPv4
            td= ip
          tr
            th Language
            td= language
          tr
            th Software
            td= user_agent
      h4 Get data object here:
      p: a(href='https://fantastic-desk.glitch.me/api/whoami') https://fcc-api-headerinfo.glitch.me/api/whoami
    footer.
      Made with #[a(href='https://glitch.com/edit/#!/fcc-api-headerinfo') Glitch] 
      by #[a(href='https://github.com/br3ntor') br3ntor] 
      for #[a(href='https://freecodecamp.org') freeCodeCamp]!
    
    
        
      
          
    
 
    
    